@model Library_Management_System.Models.EmployeeRecord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emp_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_pass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_add)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.emp_id}) |
    @Html.ActionLink("Back to List", "GetAllEmployees")
</p>
