@model Library_Management_System.Models.TransactionRecord

@{
    ViewBag.Title = "Create";
}
<div class="container">
    @if (ViewBag.IsSuccess == "True")
    {
        <div class="alert alert-success alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> You have Successfully Created a Book Transaction Record.
        </div>
    }
    else if (ViewBag.IsSuccess == "False")
    {
        <div class="alert alert-danger alert-dismissible fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Oops!</strong> Something went wrong.
        </div>
    }
</div>

<div style="padding-bottom:25px">
    <h1>SUV LIBRARY</h1>
    <h4>Create a Transaction Record</h4>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.last_date)
        @Html.HiddenFor(model => model.emp_id)

        <div class="form-group">
            @Html.LabelFor(model => model.mem_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mem_id, new { htmlAttributes = new { @class = "form-control", Min = "0" } })
                @Html.ValidationMessageFor(model => model.mem_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_id, new { htmlAttributes = new { @class = "form-control", Min = "0" } })
                @Html.ValidationMessageFor(model => model.book_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.book_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.book_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.book_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.issue_date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.issue_date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.issue_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" onmousedown="getEmpInfo()">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Add Book Name" class="btn btn-primary" onclick="getBookName()" />
                <input type="submit" value="Create" class="btn btn-success" onclick="setLastDate()" />
            </div>
        </div>
    </div>
}

<div>
    <a class="btn btn-warning" href="~/Transaction/Index" role="button">Back</a>
</div>

<script>
    document.getElementById("bodyImg").style.backgroundImage = "url('/Content/images/createEditT.jpg')";
</script>
