@model Library_Management_System.Models.TransactionRecord

@{
    ViewBag.Title = "Details";
}

<h2>SUV LIBRARY</h2>

<div>
    <h4>Transaction Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trans_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trans_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mem_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mem_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issue_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issue_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.return_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.return_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.penalty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.penalty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.trans_id }) |
    @Html.ActionLink("Back", "Index")
</p>
